
<div class="animated fadeIn">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="row justify-content-md-center">
                <div class="col-md-7 mb-3">
                  <label for="validationDefault01">First name</label>
                  <input type="text" class="form-control" id="validationDefault01" placeholder="First name" value="Mark" required>
                </div>
                <div class="col-md-7 mb-3">
                  <label for="validationDefault02">Last name</label>
                  <input type="text" class="form-control" id="validationDefault02" placeholder="Last name" value="Otto" required>
                </div>
              <!-- </div> -->
              <!-- <div class="row justify-content-md-center"> -->
                <div class="col-md-7 mb-3">
                  <label for="validationDefault03">City</label>
                  <input type="text" class="form-control" id="validationDefault03" placeholder="City" required>
                  <div class="invalid-feedback">
                    Please provide a valid city.
                  </div>
                </div>
                <div class="col-md-7 mb-3">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="validationDefault04">State</label>
                    <input type="text" class="form-control" id="validationDefault04" placeholder="State" required>
                    <div class="invalid-feedback">
                      Please provide a valid state.
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="validationDefault05">Zip</label>
                    <input type="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
                    <div class="invalid-feedback">
                      Please provide a valid zip.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-7 mb-3">
                <div class="row">
                  <div class="col-md-6">
                    <button class="btn btn-primary pull-right" type="submit">Submit form</button>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-dark px-4" type="submit">Cancel</button>
                  </div>
                </div>
              </div>
              </div>
            
              
            </form>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
</div>
